/* NEW CHANGES

.ef__hover-text {
 display: inline-block !important;
 opacity: 1 !important;
 visibility: visible !important;
 font-size: 13px !important;
 padding-top: 5px;
}

.ef__swatch-image {
 margin-bottom: 18px !important;
 margin-right: 10px !important;
}

END NEW CHANGES */

/* Radio button default, 5 per line */
.ef__option-values-radio-button {
  display: flex !important;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: flex-start;
}

.ef__option-value-radio-button {
  flex-direction: row;
  display: flex;
  align-items: center;
  width: calc(20% - 0.4rem);
  /* This will make each radio button take up 20% of the width (5 per line) */
}

/* Radio button, 2 per line */
.ef__product-option[data-option-title="How many fairways?"] .ef__option-value-radio-button,
.ef__product-option[data-option-title="How many hybrids?"] .ef__option-value-radio-button {
  width: calc(50% - 0.25rem);
  /* This will make each radio button take up half the width minus half the gap */
}

/* Radio button, vertical */
.ef__product-option[data-option-title="Would you like a Driver?"] .ef__option-values-radio-button,
.ef__product-option[data-option-title="Would you like a Putter?"] .ef__option-values-radio-button {
  flex-direction: column !important;
  align-items: flex-start !important;
}

.ef__product-option[data-option-title="Would you like a Driver?"] .ef__option-value-radio-button,
.ef__product-option[data-option-title="Would you like a Putter?"] .ef__option-value-radio-button {
  width: 100% !important;
  /*    margin-bottom: 0.5rem;  */
}

/* Remove text below images */

.ef__hover-text {
  display: none;
}


/* Set size for all swatch images that are not "FONT" */

.ef__swatch-image {
  height: auto !important;
  aspect-ratio: 3 / 4;
  width: 125px !important;
}

/* Set size for FONT image swatches */
.ef__product-option[data-option-title="Choose a monogram font"] .ef__swatch-image,
.ef__product-option[data-option-title="Font"] .ef__swatch-image,
.ef__product-option[data-option-title="Choose a font for the numbers"] .ef__swatch-image {

  height: auto !important;
  width: 156px !important;
  aspect-ratio: 156 / 114;
}



/* Set border color for FONT image swatches */

.ef__product-option[data-option-title="Font"] input:checked+label {

  border: 3px solid black !important;
  box-shadow: none !important;
}



/* Horizontal checkboxes for all*/
/* This is not live right now*/

/*
.ef__option-values-checkbox {
 display: flex !important;
    gap: 2rem;
}

.ef__option-value-checkbox {
    flex-direction: row;
    display: flex;
    align-items: center;
}
*/